<div class="d-flex flex-row">
  <div class="col-12">
    <h4 class="opacity-50">Angular Datatables just UI side with all data</h4>
    <hr />
  </div>
</div>
<div class="container-fluid app-user bg-white py-3">
  <div class="table-responsive-lg">
    <!-- list -->
    <table [dtOptions]="dtOptions" datatable [dtTrigger]="dtTrigger"
      class="table table-bordered table-hover table-striped">
      <thead>
        <tr class="text-nowrap">
          <th>S.No</th>
          <th>Username</th>
          <th>Email I'd</th>
          <th>Account Type</th>
          <th>Status</th>
          <th class="text-center">Actions</th>
        </tr>
      </thead>
      <tbody class="text-wrap">
        <tr class=" border" *ngFor="let user of usersList; let i=index">
          <th scope="row">{{i+1}}</th>
          <td>{{user.firstName +'' +user.lastName}}</td>
          <td>{{user.email}}</td>
          <td>{{user.role == 'admin' ? 'Admin' : 'User'}}</td>
          <td>
            <ui-switch (change)="changeUserStatus(user)" [(ngModel)]="user.status" color="#4285F4"
              defaultBgColor="#d9d9d9" labelOn="Active" labelOff="Inactive">
            </ui-switch>
          </td>
          <td class="text-center">
            <div class="d-flex justify-content-center">
              <!--  <button type="button" class="btn btn-sm edit me-1" (click)="showAddEditModal(user)"><i
                    class="far fa-edit"></i></button> -->
              <button type="button" class="btn btn-sm delete" (click)="showUserDeleteModal(user)"><i
                  class="far fa-trash-alt"></i></button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<!-- <pre [innerHtml]="usersList | json"> </pre> -->

<div bsModal #deleteUserModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true" [config]="{backdrop: 'static', keyboard: false, animated: true}">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title"><i class="fa fa-trash"></i> Delete User</h4>
        <button type="button" class="close" (click)="closeModel()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h4>Are you sure want to delete this User?</h4>
        <p>
          <b>User Name :</b> {{userInfo.firstName +' '+ userInfo.lastName}} <br />
        </p>
      </div>
      <div class="modal-footer border-top-0 d-flex  justify-content-start">
        <button type="button" class="btn btn-default me-1" (click)="closeModel()">Close</button>
        <button type="button" class="btn btn-danger" (click)="deleteUser()">Delete</button>
      </div>
    </div>
  </div>
</div>